body {
    flex-direction: column;
    margin: 2%;
}

div.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: inherit;
}

div.list {
    overflow-x: visible;
    overflow-y: visible;
    margin-top: 10px;
}